{% extends 'admin/admin_layout.html' %}
{% block body %}
    <div class="container row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Add an Admin</h1>
            </div>
            {% from "admin/includes/_formhelpers.html" import render_field %}
            <form class="user" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ render_field(form.name) }}
                </div>
                <div class="form-group">
                    {{ render_field(form.username) }}
                </div>
                <div class="form-group">
                    {{ render_field(form.email) }}
                </div>
                <div class="form-group row">
                    <div class="form-group col-sm-6 mb-3 mb-sm-0">
                        {{ render_field(form.password) }}
                    </div>
                    <div class="form-group col-sm-6">
                        {{ render_field(form.confirm_password) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ render_field(form.role) }}
                </div>
                <div class="form-group custom-file mb-3">
                    {{ form.image_file.label(class="custom-file-label") }}
                    {{ form.image_file(class="form-control-file custom-file-input", id="file-upload") }}
                    <span class="text text-muted" id="file-name"></span>
                    {% if form.image_file.errors %}
                        {% for error in form.image_file.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group text-center">
                    {{ form.submit(class="btn btn-lg btn-primary") }}
                </div>
            </form>
        </div>
           
    </div>
       
{% endblock %}
{% block custom_scripts %}
    
{% endblock custom_scripts %}