{% extends 'admin/admin_layout.html' %}

{% block body %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Users</h1>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Staff</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Photo</th>
                      <th>ID</th>
                      <th>Username</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Created on</th>
                      <th>Options</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                        <th>Photo</th>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Created on</th>
                        <th>Options</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for admin in admins %}
                        <tr>
                            <td><img src="{{ url_for('static', filename='uploads/profile_pics/' + admin.image_file) }}" alt="photo" width="50" height="50"></td>
                            <td>{{ admin.id }}</td>
                            <td>{{ admin.username }}</td>
                            <td>{{ admin.name }}</td>
                            <td>{{ admin.email }}</td>
                            <td>{{ admin.created_on }}</td>
                            <td>
                              <form action="{{ url_for('admin.delete_admin', admin_id=admin.id) }}" method="POST">
                                <button type="submit" class="btn btn-danger btn-circle btn-sm">
                                  <i class="fas fa-trash"></i>
                                </button>
                              </form>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

{% endblock %}