{% extends 'admin/admin_layout.html' %}

{% block body %}
    <div class="container row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Add a Product</h1>
            </div>
            {% from "admin/includes/_formhelpers.html" import render_field %}
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ render_field(form.article) }}
                </div>
                <div class="form-group">
                    {{ render_field(form.name) }}
                </div>
                <div class="form-group">
                    {{ render_field(form.type) }}
                </div>
                <div class="form-group">
                    {{ render_field(form.category) }}
                </div>
                <div class="form-group">
                    {{ form.description.label() }}
                    {{ render_field(form.description, id="editor") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.price) }}
                </div>
                <div class="form-group">
                    {{ render_field(form.min_price) }}
                </div>


                Quantity:
                <br>
                <small class="text-muted">*Leave empty where quantity not available</small>
                <div class="form-group row">
                    <div class="col-sm-3 mb-3 mb-sm-0">
                        <small class="form-text-text-muted"><strong>Small</strong></small>
                        {{ render_field(form.size_s) }}
                    </div>
                    <div class="col-sm-3 mb-3 mb-sm-0">
                        <small class="form-text-text-muted"><strong>Medium</strong></small>
                        {{ render_field(form.size_m) }}
                    </div>
                    <div class="col-sm-3">
                        <small class="form-text-text-muted"><strong>Large</strong></small>
                        {{ render_field(form.size_l) }}
                    </div>
                    <div class="col-sm-3">
                        <small class="form-text-text-muted"><strong>Extra-large</strong></small>
                        {{ render_field(form.size_xl) }}
                    </div> 
                </div>
                <div class="form-group custom-file mb-3">
                    {{ form.image_file.label(class="custom-file-label") }}
                    {{ form.image_file(class="form-control-file custom-file-input", id="file-upload") }}
                    <span class="text text-muted" id="file-name"></span>
                    {% if form.image_file.errors %}
                        {% for error in form.image_file.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group text-center">
                    {{ form.submit(class="btn btn-lg btn-primary") }}
                </div>
            </form>
        </div>
           
    </div>
{% endblock %}
