{% extends 'admin/auth_layout.html' %}

{% block body %}
    <div class="text-center">
      <h1 class="h4 text-gray-900 mb-4 font-weight-bold">Indussh Admin</h1>
    </div>
    <form class="user" method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {% if form.email.errors %}
            {{ form.email(class="form-control form-control-user is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.email(class="form-control form-control-user", placeholder="Email Address...") }}
        {% endif %}
      </div>
      <div class="form-group">
        {% if form.password.errors %}
            {{ form.password(class="form-control form-control-user is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password(class="form-control form-control-user", placeholder="Password...") }}
        {% endif %}
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox small">
          {{ form.remember(class="custom-control-input") }}
          {{ form.remember.label(class="custom-control-label") }}
        </div>
      </div>
      {{ form.submit(class="btn btn-primary btn-user btn-block") }}
    </form>
    <hr>
    <div class="text-center">
      <a class="small" href="forgot-password.html">Forgot Password?</a>
    </div>
{% endblock %}