{% extends 'admin/admin_layout.html' %}

{% block body %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Order Records</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Orders</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Amount</th>
                      <th>Status</th>
                      <th>Created on</th>
                      <th>Fulfilled On</th>
                      <th>Customer</th>
                      <th>Order Details</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Amount</th>
                      <th>Status</th>
                      <th>Created on</th>
                      <th>Fulfilled On</th>
                      <th>Customer</th>
                      <th>Order Details</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% if orders|length > 0 %}
                      {% for order in orders  %}
                        <td>order.id</td>
                        <td>order.amount</td>
                        <td>order.completed</td>
                        <td>order.date_created</td>
                        <td>order.date_completed</td>
                        <td><a href="#" role="button" class="btn btn-sm btn-primary">Details</a></td>
                      {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

{% endblock %}