<nav class="site-navigation text-right text-md-center" role="navigation">
    <div class="container">
      <ul class="site-menu js-clone-nav d-none d-md-block">
        <li {% if active_page == 'home' %} class="active" {% endif %}>
          <a href="{{ url_for('main.index') }}">Home</a>
        </li>
        <li class="{% if active_page == 'about' %} active {% endif %}">
          <a href="{{ url_for('main.about') }}">About</a>
          <!--
               <ul class="dropdown">
                <li><a href="#">Menu One</a></li>
                <li><a href="#">Menu Two</a></li>
                <li><a href="#">Menu Three</a></li>
              </ul>
          -->
       
        </li>
        <li class="has-children {% if active_page == 'shop' %} active {% endif %}">
          <a href="{{ url_for('products.shop') }}">Shop</a>
          <ul class="dropdown">
              <li><a href="{{ url_for('products.shop_by_category', category='men') }}">Men</a></li>
              <li><a href="{{ url_for('products.shop_by_category', category='women') }}">Women</a></li>
              <li><a href="{{ url_for('products.shop_by_category', category='boys') }}">Boys</a></li>
              <li><a href="{{ url_for('products.shop_by_category', category='girls') }}">Girls</a></li>
              <!--
                   <li class="has-children">
                    <a href="#">Sub Menu</a>
                    <ul class="dropdown">
                      <li><a href="#">Menu One</a></li>
                      <li><a href="#">Menu Two</a></li>
                      <li><a href="#">Menu Three</a></li>
                    </ul>
                  </li>
              -->
             
            </ul>
        </li>
        <!-- <li><a href="#">Catalogue</a></li>
        <li><a href="#">New Arrivals</a></li> -->
        <li {% if active_page == 'contact' %} class="active" {% endif %}><a href="{{ url_for('main.contact') }}">Contact</a></li>
      </ul>
    </div>
  </nav>