{% extends 'layout.html' %}
{% block body %}

<div class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb-0"><a href="{{ url_for('main.index') }}">Home</a> <span class="mx-2 mb-0">/</span> <a href="{{ products.cart }}">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong></div>
    </div>
  </div>
</div>

<div class="site-section">
  <div class="container">
    <form method="POST">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
          <h2 class="h3 mb-3 text-black">Billing Details</h2>
          <div class="p-3 p-lg-5 border">
            <div class="form-group row">
              <div class="col-md-12">
                {{ form.name.label(class="text-black") }}<span class="text-danger">*</span>
                {% if form.name.errors %}
                  {{ form.name(class="form-control is-invalid", placeholder="Name") }}
                  <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.name(class="form-control", placeholder="Name") }}
                {% endif %}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                {{ form.address.label(class="text-black") }}<span class="text-danger">*</span>
                {% if form.address.errors %}
                  {{ form.address(class="form-control is-invalid", placeholder="Address") }}
                <div class="invalid-feedback">
                  {% for error in form.address.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{ form.address(class="form-control", placeholder="Address") }}
                {% endif %}
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">
                {{ form.city.label(class="text-black") }}<span class="text-danger">*</span>
                {% if form.city.errors %}
                  {{ form.city(class="form-control is-invalid", placeholder="City") }}
                  <div class="invalid-feedback">
                    {% for error in form.city.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.city(class="form-control", placeholder="City") }}
                {% endif %}
              </div>
              <div class="col-md-6">
                {{ form.postcode.label(class="text-black") }}<span class="text-danger">*</span>
                {% if form.postcode.errors %}
                  {{ form.postcode(class="form-control is-invalid", placeholder="Zip Code or Post Code") }}
                  <div class="invalid-feedback">
                    {% for error in form.postcode.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.postcode(class="form-control", placeholder="Zip Code or Post Code") }}
                {% endif %}
              </div>
            </div>

            <div class="form-group row mb-5">
              <div class="col-md-6">
                {{ form.email.label(class="text-black") }}<span class="text-danger">*</span>
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid", placeholder="Email") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                  {{ form.email(class="form-control", placeholder="Email") }}
                {% endif %}
              </div>
              <div class="col-md-6">
                {{ form.phone_number.label(class="text-black") }}<span class="text-danger">*</span>
                {% if form.phone_number.errors %}
                  {{ form.phone_number(class="form-control is-invalid", placeholder="Phone Number") }}
                  <div class="invalid-feedback">
                    {% for error in form.phone_number.errors %}
                      <span>{{ error }}</span>
                    {% endfor %}
                  </div>
                {% else %}
                  {{ form.phone_number(class="form-control", placeholder="Phone Number") }}
                {% endif %}
              </div>
            </div>

            <div class="form-group">
              {{ form.notes.label(class="text-black") }}
              {{ form.notes(class="form-control", placeholder="Write your notes here...", cols="30", rows="5") }}
            </div>

          </div>
        </div>

        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Your Order</h2>
              <div class="p-3 p-lg-5 border">
                <table class="table site-block-order-table mb-5">
                  <thead>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Disc.</th>
                    <th>Disc. Price</th>
                  </thead>
                  <tbody>
                    {% for product in products %}
                        <tr>
                          <td>{{ product.name }} <strong class="mx-2">x</strong>{{ session.cart[product.article_no][0] }}</td>
                          <td>Rs. {{ product.price|int }}</td>
                          {% if session.cart[product.article_no][2]|int != 0 %}
                            <td>Rs. {{ product.price|int - session.cart[product.article_no][2]|int }}</td>
                            <td>Rs. {{ session.cart[product.article_no][0]|int * session.cart[product.article_no][2]|int }}</td>
                          {% else %}
                            <td> -------- </td>
                            <td>Rs. {{ session.cart[product.article_no][0]|int * product.price|int }}</td>
                          {% endif %}
                        </tr>
                    {% endfor %}
                    <tr>
                      <td></td>
                      <td></td>
                      <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                      <td class="text-black">Rs. {{ total }}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                      <td class="text-black font-weight-bold"><strong>Rs. {{ total }}</strong></td>
                    </tr>
                  </tbody>
                </table>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Direct Bank Transfer</a></h3>

                  <div class="collapse" id="collapsebank">
                    <div class="py-2">
                      <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                    </div>
                  </div>
                </div>

                <div class="border p-3 mb-3">
                  <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque" role="button" aria-expanded="false" aria-controls="collapsecheque">Cheque Payment</a></h3>

                  <div class="collapse" id="collapsecheque">
                    <div class="py-2">
                      <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                    </div>
                  </div>
                </div>

                <div class="border p-3 mb-5">
                  <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal" role="button" aria-expanded="false" aria-controls="collapsepaypal">Paypal</a></h3>

                  <div class="collapse" id="collapsepaypal">
                    <div class="py-2">
                      <p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  {{ form.submit(class="btn btn-primary btn-lg py-3 btn-block") }}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </form>    
  </div>
</div>

{% endblock %}